body {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: linear-gradient(219.46deg, #110036 27.63%, #170059 100%),
    linear-gradient(219.46deg, #ffffff 27.63%, #19004e 100%),
    radial-gradient(100% 246.94% at 100% 100%, #ffffff 0%, #000353 100%),
    linear-gradient(121.18deg, #1400ff 0.45%, #3a0000 100%),
    linear-gradient(192.86deg, #f06060 9.22%, #008b7a 87.25%),
    linear-gradient(150.76deg, #0015d5 15.35%, #000b6c 89.57%);
  background-blend-mode: screen, overlay, overlay, difference, difference,
    normal;
    backdrop-filter: blur(3px);
}
body #chat-contaner {
  position: relative;
  width: 0;
  height: 100vh;
}
body.active #chat-contaner {
  width: var(--mn-chat-w);
}

#chat-contaner .wapping {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: var(--chat-header-h) auto;
  background: #ddd;
}

#chat-contaner .wapping header {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0 2px 2px #0005;
  z-index: 10;
}
#chat-contaner .wapping header {
  user-select: none;
}
#chat-contaner .wapping header .wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: var(--pf-back-w) var(--pf-icon-w) var(--pf-info-nm-w) var(
      --pf-manu-w
    );
}
.wapping header .wrap #profile-back {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wapping header .wrap #profile-back i {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  cursor: var(--cursor);
}
.wapping header .wrap #porfile-image {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.wapping header .wrap #porfile-image i {
  position: absolute;
  width: 70%;
  height: 70%;
  cursor: var(--cursor);
  font-size: 1.3rem;
  outline: solid 2px #000000;
  border-radius: 100%;
}
.wapping header .wrap #porfile-info {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10fr 7fr;
  align-items: center;
}
.wapping header .wrap #porfile-info #pf-name {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 1.1rem;
}
.wapping header .wrap #porfile-info #pf-status {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
}
.wapping header .wrap #pf-manu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wapping header .wrap #pf-manu i {
  cursor: var(--cursor);
  font-size: 1.5rem;
}

/* -------- footer --------- */
.wapping footer {
  position: absolute;
  width: var(--mn-chat-w);
  min-height: var(--chat-min-h);
  max-height: var(--chat-max-h);
  z-index: 10;
  bottom: calc(var(--chat-gap) / 2);
  left: calc((100vw - var(--mn-chat-w)) / 2);
}
.wapping footer .wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 var(--chat-gap);
  display: grid;
  grid-template-columns: auto var(--send-btn);
  gap: var(--chat-gap);
}
.wapping footer .wrap #input-box {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: #ffffff;
  box-shadow: 0 0 3px #0008;
  border-radius: 12px;
  overflow: hidden;
}
.wapping footer .wrap #input-box #msg-lvl {
  position: absolute;
  z-index: 1;
  font-size: 1.2rem;
  left: 8px;
  top: 6px;
  user-select: none;
  font-weight: 700;
  color: #0007;
  opacity: 0;
  transition: opacity linear 0.2s;
}
.wapping footer .wrap #input-box #msg-lvl.active {
  opacity: 1;
}
.wapping footer .wrap #input-box #input-div {
  position: relative;
  width: 100%;
  min-height: var(--chat-min-h);
  max-height: 100px;
  outline: none;
  border: none;
  border-top: solid 6px #ffffff;
  border-bottom: solid 6px #ffffff;
  border-left: solid 8px #ffffff;
  border-right: solid 8px #ffffff;
  overflow-y: scroll;
  font-size: 1.2rem;
  bottom: 0;
  z-index: 2;
}
.wapping footer .wrap #message-send-btn {
  position: relative;
  width: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.wapping footer .wrap #message-send-btn button {
  position: relative;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: #ffffff;
  box-shadow: 0 0 3px #0008;
  padding: 8px;
  border-radius: 20px;
}
.wapping footer .wrap #message-send-btn button i {
  font-size: 1.5rem;
  cursor: var(--cursor);
}

/* ------------ chat ----------- */
.wapping #scroll-chat {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.wapping > #scroll-chat > .wrap {
  position: relative;
  width: 100%;
  height: min-content;
  padding: var(--chat-gap) 0;
  padding-bottom: 50px;
  display: grid;
  gap: var(--chat-gap);
}
.wapping #scroll-chat .wrap .chat-box {
  position: relative;
  width: 100%;
  min-height: var(--chat-min-h);
  max-height: var(--chat-max-h);
  display: flex;
  align-items: center;
}
.wapping #scroll-chat .wrap .chat-box.other {
  justify-content: start;
}
.wapping #scroll-chat .wrap .chat-box.me {
  justify-content: end;
}
.wapping #scroll-chat .wrap .chat-box .chat-content {
  position: relative;
  min-width: var(--min-chat-w);
  max-width: var(--max-chat-w);
  height: 100%;
  border-radius: 10px;
  margin: 2px;
  padding: 4px 6px;
  border-bottom: solid 2px #444;
  box-shadow: 0 0 2px #0004;
}
.wapping #scroll-chat .wrap .chat-box.other .chat-content {
  background: #c2e0ff;
  border-top-left-radius: 0px;
}
.wapping #scroll-chat .wrap .chat-box.me .chat-content {
  background: #c2ffc2;
  border-top-right-radius: 0px;
}
.wapping #scroll-chat .wrap .chat-box .chat-content .wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto min-content;
}
.wapping #scroll-chat .wrap .chat-box .chat-content .wrap .c-name {
  font-size: 0.7rem;
  font-weight: 600;
  user-select: none;
}
.wapping #scroll-chat .wrap .chat-box .chat-content .wrap .c-text {
  margin-top: 2px;
  font-size: 0.8rem;
}
.wapping #scroll-chat .wrap .chat-box .chat-content .wrap .c-time {
  font-size: 0.6rem;
  font-weight: 600;
  user-select: none;
  text-align: end;
}
