body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --gap: 2rem;
  --margin: 5px;
  --profile-img-h: 200px;
  --name-cf-h: 60px;
  --username-cf-h: 60px;
  --connected-vw-h: 70px;
  --floting-win-w: 250px;
  --icon-w: 50px;
  --title-h: 40px;
  --update-inp-h: 50px;
  --error-h: 20px;
}
#profile-section {
  position: relative;
  width: 100%;
  height: 100%;
}
#profile-section .wapping {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows:
    var(--profile-img-h) var(--name-cf-h) var(--username-cf-h) var(
      --connected-vw-h
    )
    50px;
}
#profile-img-config {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
#profile-img-config .wrap {
  position: relative;
  width: calc(var(--profile-img-h) - var(--gap));
  height: calc(var(--profile-img-h) - var(--gap));
}
#profile-img-config .wrap #profile-edit-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  justify-content: flex-end;
  transform: translate(0.75rem, -0.75rem);
}
#profile-img-config .wrap #profile-edit-img .wrap {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #000000aa;
}
#profile-img-config .wrap #profile-edit-img .wrap #edit-option {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
#profile-img-config .wrap #profile-edit-img .wrap #edit-option i {
  font-size: 1.2rem;
  color: #ffffff;
}
#profile-img-config .wrap #profile-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: lightslategray;
  border-radius: 5px;
  border: solid 5px #ccc;
  overflow: hidden;
}
#profile-img-config .wrap #profile-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  outline: solid 80px #00000077;
  border-radius: 100%;
  z-index: 3;
}
#profile-img-config .wrap #profile-img i {
  font-size: 9rem;
  color: #000099;
}
#profile-edit-img .wrap #upload-delete-btn {
  position: absolute;
  z-index: -1;
  width: var(--icon-w);
  height: calc(var(--icon-w) * 2 + var(--margin) * 2);
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) * 2);
  transform: translateX(0) translateY(0) scale(0);
  transition: transform linear 0.3s;
}

#profile-edit-img.active .wrap #upload-delete-btn {
  transform: translateX(calc(var(--icon-w) + var(--margin) * 2))
    translateY(calc(var(--icon-w) + var(--margin))) scale(1);
}
#upload-delete-btn #upload-img,
#upload-delete-btn #delete-img {
  position: relative;
  width: var(--icon-w);
  height: var(--icon-w);
  display: grid;
  place-items: center;
  background: #004b8c;
  border-radius: 100%;
}
#upload-delete-btn #upload-img i,
#upload-delete-btn #delete-img i {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 0 0 1px #000;
}
#upload-delete-btn #delete-img i {
  color: #ff0000;
}

/* --- name config */
#name-config,
#username-config {
  position: relative;
  width: 100%;
  height: 100%;
}
#name-config .wrap,
#username-config .wrap {
  position: relative;
  width: calc(100% - var(--margin) * 2);
  height: calc(100% - var(--margin) * 2);
  margin: 5px;
  display: grid;
  place-items: center;
  grid-template-columns: 60px auto 40px;
}
#username-config .wrap {
  grid-template-columns: 90px auto 40px;
}
#name-config .wrap .view,
#username-config .wrap .view {
  position: relative;
  width: 80%;
  text-align: right;
}
#connected-view {
  position: relative;
  width: 100%;
  height: 100%;
}
#connected-view .wrap {
  position: relative;
  width: calc(100% - var(--margin) * 2);
  height: calc(100% - var(--margin) * 2);
  margin: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}
#logout-box {
  position: relative;
  width: 100%;
  height: 100%;
}
#logout-box .wrap {
  position: relative;
  width: calc(100% - var(--margin) * 2);
  height: calc(100% - var(--margin) * 2);
  margin: 5px;
  display: grid;
  place-items: center;
}
#logout-box .wrap #logout {
  position: relative;
  padding: 10px 50px;
  border-radius: 10px;
  outline: none;
  border: solid 2px #004b8c;
  font-weight: 700;
  background: #00165d;
  color: #fff;
}

/* ------------- login content ------------ */
#login-window {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: #00000099;
  backdrop-filter: blur(3px);
  overflow: hidden;
}
#login-window.active {
  display: flex;
}
#login-window .wrap {
  position: relative;
  padding: var(--gap);
  background: #222a;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
  border-style: solid;
  border-color: #909090 #222222 #222222 #909090;
  border-width: 2px;
  z-index: 10;
}
#login-window .wrap h1 {
  color: #ffffff;
  text-align: center;
  margin: 5px;
}
#login-window .wrap #login-with-google,
#login-window .wrap #login-with-phone {
  position: relative;
  width: 100%;
  height: 100%;
}

#login-window .wrap #login-with-google button,
#login-window .wrap #login-with-phone button {
  position: relative;
  width: var(--floting-win-w);
  height: 100%;
  outline: none;
  border: none;
  cursor: var(--cursor);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 5fr;
  padding: 10px 15px;
  border-radius: 15px;
  background: #ff2600;
  border: solid 2px #6f1100;
}
#login-window .wrap #login-with-phone button {
  background: #002ab4;
  border: solid 2px #00165d;
}
#login-window .wrap #login-with-google button i {
  font-size: 1.4rem;
}
#login-window .wrap #login-with-google button p,
#login-window .wrap #login-with-phone button p {
  font-size: 0.9rem;
  text-align: start;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#login-window .wrap #login-with-phone button p {
  color: #ffffff;
  font-weight: 300;
}
#login-window .wrap #login-with-phone button i {
  font-size: 1.3rem;
  color: #ffffff;
}

/* ------------------ update contaner ------------------- */
#update-contaner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: #000000cc;
  backdrop-filter: blur(5px);
  z-index: 10;
}
#update-contaner.active {
  display: flex;
}
#update-contaner .wapping {
  position: relative;
  width: var(--floting-win-w);
  height: auto;
  padding: calc(var(--margin) * 2);
  border-radius: calc(var(--margin) * 2);
  border-style: solid;
  border-color: #909090 #222222 #222222 #909090;
  border-width: 2px;
  background: #dddb;
  overflow: hidden;
}
#update-contaner .wapping #titleName-close {
  position: relative;
  width: 100%;
  height: var(--title-h);
  display: grid;
  grid-template-columns: 5fr 1fr;
  place-items: center;
}
#update-contaner .wapping #titleName-close #update-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
}
#update-contaner .wapping #titleName-close #close-update {
  position: relative;
  width: 80%;
  height: 80%;
  display: grid;
  place-items: center;
  border-radius: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  background: #bbb;
  color: #f00;
  text-shadow: 0 0 1px #000;
}
#update-contaner .wapping #update-input-box {
  position: relative;
  width: 100%;
  height: var(--update-inp-h);
  padding: calc(var(--margin) * 1.5) 0;
}
#update-contaner .wapping #update-input-box .wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  background: #ffff;
  box-shadow: inset 1px 1px 3px #000;
  border-radius: 6px;
  place-items: center;
}
#update-contaner .wapping #update-input-box .wrap label {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
  left: 0;
  color: #333;
  padding: 0 6px;
  background: transparent;
  border-radius: 15px;
  font-size: 1rem;
  transform: translateX(0);
  transition: top linear 0.2s, color linear 0.2s, background linear 0.2s,
    transform linear 0.2s, box-shadow linear 0.2s, font-size linear 0.2s;
}
#update-contaner .wapping #update-input-box.active .wrap label {
  background: #fffa;
  padding: 4px 8px;
  font-size: 0.8rem;
  transform: translateX(5px);
  box-shadow: 0 0 2px #000;
  top: calc((var(--update-inp-h) - var(--margin)) / -2);
  color: #000000;
}
#update-contaner .wapping #update-input-box .wrap input {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  z-index: 2;
  font-size: 1rem;
  background: transparent;
  padding: 0 6px;
}
#update-contaner .wapping #error-box {
  position: relative;
  width: 100%;
  height: var(--error-h);
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #f00;
  padding: 0 5px;
}
#update-contaner .wapping #save-button {
  position: relative;
  width: 100%;
  height: var(--update-inp-h);
  display: flex;
  justify-content: center;
  align-items: center;
}
#update-contaner .wapping #save-button button {
  position: relative;
  outline: none;
  border: none;
  padding: 6px 30px;
  border-radius: 10px;
  background: #002ab4;
  font-weight: 600;
  color: #fff;
  font-size: 1.2rem;
  border: solid 1px #00165d;
}




/* ----- alert window -------- */
#alert-window {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 15;
  display: none;
  background: rgba(100, 100, 100, 0.8);
  backdrop-filter: blur(3px);
}
#alert-window.active {
  display: grid;
  place-items: center;
}
#alert-window .alert-box {
  position: relative;
  width: 250px;
  height: 160px;
  background: #eee;
  backdrop-filter: blur(3px);
  border-radius: 6px;
  display: grid;
  grid-template-rows: 10fr 20fr 10fr;
  overflow: hidden;
}
#alert-window .alert-box .alert-title {
  position: relative;
  display: grid;
  grid-template-columns: 20fr 5fr;
  place-items: center;
}
#alert-window .alert-box .alert-title .sb-close {
  color: #f00;
  font-size: 1rem;
  text-shadow: 0 0 1px #000, 0 0 2px #000;
}
#alert-window .alert-box .alert-title span {
  color: #000;
  display: flex;
}
#alert-window .alert-box .alert-title span .sb-alert {
  color: #000;
  margin-left: 20%;
  font-size: 1.4rem;
}
#alert-window .alert-box .alert-message {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: solid 1px #999;
}
#alert-window .alert-box .a-btns {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10fr 10fr;
  place-items: center;
  background: #999;
  cursor: pointer;
  gap: 1px;
}
#alert-window .alert-box .a-btns p {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  background: #fff;
}
#alert-window .alert-box .a-btns .alert-no i {
  color: #000;
  font-size: 0.9rem;
}
#alert-window .alert-box .a-btns .alert-yes i {
  color: #000;
  font-size: 1.2rem;
}
