* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 1px #f00; */
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --cursor: pointer;

  --mn-chat-w: 360px;
  /* --mn-chat-h: 694px; */
  --mn-chat-h: 100vh;

  --chat-header-h: 50px;
  --chat-footer-h: 60px;

  /* ---- chat profile ---- */
  --pf-back-w: 30px;
  --pf-icon-w: var(--chat-header-h);
  --pf-info-nm-w: auto;
  --pf-manu-w: 30px;

  /* ---- chat box ---- */
  --send-btn: var(--chat-header-h);

  --chat-min-h: 40px;
  --chat-max-h: 1000px;
  --max-chat-w: 270px;
  --min-chat-w: 60px;

  --chat-name-h: 20px;
  --chat-time-h: 12px;

  --chat-gap: 0.5rem;

  /* ---- index header ---- */
  --max-index-header-h: 120px;
  --min-index-header-h: 30px;

  /* --profile-r: 40px; */
  --contact-h: 60px;
  --contact-photo-r: 50px;

}

.i {
  display: grid;
  place-items: center;
}

/* ------------- scroll bar ------------- */
/* width */
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0004;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  background: #fff;
}   

#scroll-box {
  position: relative;
  width: var(--mn-chat-w);
  height: 100vh;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#scroll-box::-webkit-scrollbar {
  display: none;
}
#main-contant {
  position: absolute;
  width: auto;
  height: 100%;
  display: flex;
  overflow: hidden;
}


